.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    gap: 128px;

    &__product_cards {
        margin-bottom: 72px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__product_card {
        width: 652px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        display: flex;
        position: relative;

        &__remove_products_icon {
            position: absolute;
            top: 28px;
            right: 22px;
        }

        &__info {
            padding: 22px 30px;
            color: #575757;
            @include fontParams(22px, 400, normal);

            &__title {
                margin-bottom: 36px;
                color: $colorBase;
                @include fontParams(24px, 400, normal);
                text-transform: uppercase;
            }

            & {
                margin-bottom: 6px;
            }

            &__param span {
                color: #6F6E6E;
            }

            &__param &__price {
                color: #EF5B70;
            }

            & label {
                display: flex;
                align-items: center;
            }

            &__quantity_input {
                width: 44px;
                border: 1px solid rgba(234, 234, 234, 1);
                padding-left: 12px;
                margin-left: 24px;
                color: #656565;
                @include fontParams(18px, 400, normal);
            }

        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        padding: 16px 40px;
        border: 1px solid rgba(164, 164, 164, 1);
        color: #000;
        @include fontParams(14px, 300, normal);
        text-transform: uppercase;
        transition: all .3s;
    }

    &__button:hover {
        color: $colorWhite;
        background-color: rgba(164, 164, 164, 1);
    }

    &__address {
        color: #222;
        @include fontParams(16px, 300, normal);
        margin-bottom: 57px;

        &__title {
            margin-bottom: 20px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__input {
            border: 1px solid rgba(164, 164, 164, 1);
            padding: 14px 17px;
            font-size: 13px;
        }

        &__button {
            width: 104px;
            box-sizing: border-box;
            color: #4A4A4A;
            @include fontParams(11px, 300, normal);
            text-transform: uppercase;
            background-color: #fff;
            border: 1px solid rgba(164, 164, 164, 1);
            padding: 11px 15px;
            transition: all .3s;
        }

        &__button:hover {
            color: $colorWhite;
            background-color: rgba(164, 164, 164, 1);
        }
    }

    &__amount_card {
        background-color: #F5F3F3;
        padding: 40px 44px;
        text-align: right;

        & span {
            margin-left: 25px;
        }

        &__subtotal {
            color: #4A4A4A;
            @include fontParams(11px, 400, normal);
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        &__total {
            color: $colorBase;
            @include fontParams(16px, 300, normal);
            text-transform: uppercase;
            margin-bottom: 20px;

            &__price {
                color: $colorPink;
                font-weight: 700;
            }
        }

        &__line {
            border: none;
            background-color: #E2E2E2;
            height: 1px;
            width: 275px;
            margin-bottom: 17px;
        }

        &__button {
            background-color: $colorPink;
            border: 1px solid $colorPink;
            @include fontParams(16px, 300, normal);
            color: $colorWhite;
            padding: 15px 40px;
            text-transform: uppercase;
            display: inline-block;
            box-sizing: border-box;
            transition: all .3s;
        }

        &__button:hover {
            color: $colorPink;
            background-color: transparent;
            border: 1px solid $colorPink;
        }
    }
}