@keyframes duck_fly_1 {
  0% {
    left: -100px;
    top: 48vh;
  }
  50% {
    left: 44vw;
    top: 10vh;
  }
  100% {
    left: 100vw;
    top: 46vh;
  }
}
@keyframes duck_fly_2 {
  0% {
    left: -100px;
    top: 33vh;
  }
  50% {
    left: 6vw;
    top: 61vh;
  }
  100% {
    left: 100vw;
    top: 56vh;
  }
}
@keyframes duck_fly_3 {
  0% {
    left: -100px;
    top: 25vh;
  }
  50% {
    left: 57vw;
    top: 38vh;
  }
  100% {
    left: 100vw;
    top: 33vh;
  }
}
@keyframes duck_fly_4 {
  0% {
    left: -100px;
    top: 39vh;
  }
  50% {
    left: 33vw;
    top: 14vh;
  }
  100% {
    left: 100vw;
    top: 58vh;
  }
}
@keyframes duck_fly_5 {
  0% {
    left: -100px;
    top: 80vh;
  }
  50% {
    left: 18vw;
    top: 58vh;
  }
  100% {
    left: 100vw;
    top: 23vh;
  }
}
@keyframes duck_fly_6 {
  0% {
    left: -100px;
    top: 58vh;
  }
  50% {
    left: 56vw;
    top: 69vh;
  }
  100% {
    left: 100vw;
    top: 1vh;
  }
}
@keyframes duck_fly_7 {
  0% {
    left: -100px;
    top: 75vh;
  }
  50% {
    left: 22vw;
    top: 25vh;
  }
  100% {
    left: 100vw;
    top: 9vh;
  }
}
@keyframes duck_fly_8 {
  0% {
    left: -100px;
    top: 38vh;
  }
  50% {
    left: 60vw;
    top: 9vh;
  }
  100% {
    left: 100vw;
    top: 52vh;
  }
}
@keyframes duck_fly_9 {
  0% {
    left: -100px;
    top: 29vh;
  }
  50% {
    left: 51vw;
    top: 11vh;
  }
  100% {
    left: 100vw;
    top: 52vh;
  }
}
@keyframes duck_fly_10 {
  0% {
    left: -100px;
    top: 43vh;
  }
  50% {
    left: 6vw;
    top: 62vh;
  }
  100% {
    left: 100vw;
    top: 69vh;
  }
}
@keyframes duck_die {
  0% {
    transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

.body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(img/lake.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.duck {
  position: absolute;
}
.duck__check {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.duck__check:checked {
  counter-increment: count;
}
.duck__check:checked ~ label {
  display: inline-block;
  animation: duck_die 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.duck__img {
  width: 100px;
  transform: rotateY(180deg);
}
.duck_1 {
  animation: duck_fly_1 10s ease-in 2s both;
}
.duck_2 {
  animation: duck_fly_2 10s ease-in 4s both;
}
.duck_3 {
  animation: duck_fly_3 10s ease-in 6s both;
}
.duck_4 {
  animation: duck_fly_4 10s ease-in 8s both;
}
.duck_5 {
  animation: duck_fly_5 10s ease-in 10s both;
}
.duck_6 {
  animation: duck_fly_6 10s ease-in 12s both;
}
.duck_7 {
  animation: duck_fly_7 10s ease-in 14s both;
}
.duck_8 {
  animation: duck_fly_8 10s ease-in 16s both;
}
.duck_9 {
  animation: duck_fly_9 10s ease-in 18s both;
}
.duck_10 {
  animation: duck_fly_10 10s ease-in 20s both;
}

.counter_info {
  position: absolute;
  top: 5vh;
  right: 50vw;
  font-size: 60px;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 100%;
  border: 5px solid blue;
  opacity: 0.8;
}
.counter_info::before {
  content: counter(count);
}/*# sourceMappingURL=style.css.map */