@keyframes duck_fly_1 {
  0% {
    left: -100px;
    top: 6vh;
  }
  50% {
    left: 33vw;
    top: 5vh;
  }
  100% {
    left: 100vw;
    top: 29vh;
  }
}
@keyframes duck_fly_2 {
  0% {
    left: -100px;
    top: 51vh;
  }
  50% {
    left: 57vw;
    top: 59vh;
  }
  100% {
    left: 100vw;
    top: 48vh;
  }
}
@keyframes duck_fly_3 {
  0% {
    left: -100px;
    top: 35vh;
  }
  50% {
    left: 3vw;
    top: 41vh;
  }
  100% {
    left: 100vw;
    top: 48vh;
  }
}
@keyframes duck_fly_4 {
  0% {
    left: -100px;
    top: 55vh;
  }
  50% {
    left: 4vw;
    top: 61vh;
  }
  100% {
    left: 100vw;
    top: 2vh;
  }
}
@keyframes duck_fly_5 {
  0% {
    left: -100px;
    top: 36vh;
  }
  50% {
    left: 1vw;
    top: 12vh;
  }
  100% {
    left: 100vw;
    top: 23vh;
  }
}
@keyframes duck_fly_6 {
  0% {
    left: -100px;
    top: 7vh;
  }
  50% {
    left: 19vw;
    top: 79vh;
  }
  100% {
    left: 100vw;
    top: 77vh;
  }
}
@keyframes duck_fly_7 {
  0% {
    left: -100px;
    top: 28vh;
  }
  50% {
    left: 23vw;
    top: 70vh;
  }
  100% {
    left: 100vw;
    top: 15vh;
  }
}
@keyframes duck_fly_8 {
  0% {
    left: -100px;
    top: 36vh;
  }
  50% {
    left: 39vw;
    top: 80vh;
  }
  100% {
    left: 100vw;
    top: 57vh;
  }
}
@keyframes duck_fly_9 {
  0% {
    left: -100px;
    top: 68vh;
  }
  50% {
    left: 52vw;
    top: 4vh;
  }
  100% {
    left: 100vw;
    top: 13vh;
  }
}
@keyframes duck_fly_10 {
  0% {
    left: -100px;
    top: 4vh;
  }
  50% {
    left: 46vw;
    top: 14vh;
  }
  100% {
    left: 100vw;
    top: 56vh;
  }
}
@keyframes duck_die {
  0% {
    transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

.body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(img/lake.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.duck {
  position: absolute;
}
.duck__check {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.duck__check:checked {
  counter-increment: count;
}
.duck__check:checked ~ label {
  display: inline-block;
  animation: duck_die 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.duck__img {
  width: 100px;
  transform: rotateY(180deg);
}
.duck_1 {
  animation: duck_fly_1 10s ease-in 2s both;
}
.duck_2 {
  animation: duck_fly_2 10s ease-in 4s both;
}
.duck_3 {
  animation: duck_fly_3 10s ease-in 6s both;
}
.duck_4 {
  animation: duck_fly_4 10s ease-in 8s both;
}
.duck_5 {
  animation: duck_fly_5 10s ease-in 10s both;
}
.duck_6 {
  animation: duck_fly_6 10s ease-in 12s both;
}
.duck_7 {
  animation: duck_fly_7 10s ease-in 14s both;
}
.duck_8 {
  animation: duck_fly_8 10s ease-in 16s both;
}
.duck_9 {
  animation: duck_fly_9 10s ease-in 18s both;
}
.duck_10 {
  animation: duck_fly_10 10s ease-in 20s both;
}

.counter_info {
  position: absolute;
  top: 5vh;
  right: 50vw;
  font-size: 60px;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 100%;
  border: 5px solid blue;
  opacity: 0.8;
}
.counter_info::before {
  content: counter(count);
}/*# sourceMappingURL=style.css.map */